#main-page {
    width: 100vw; 
    height: 100vh; 
    max-width: 100%; 
}

.card {
    width: 1000px; 
    margin: 0 auto; 
    float: none; 
    margin-top: 50px; 
    margin-bottom: 10px; 
}

#current-schedule {
  height: 500px; 
}

td {
    padding-top: 10px; 
}

th {
    margin-left: 10px; 
}

#current-schedule-header {
    text-align: center; 
}

#add-train {
    height: 480px; 
}

#new-train {
  text-align: center; 
}
  
.form-control {
width: 975px; 
margin: 0 auto; 
float: none; 
}
  
.btn {
margin-left: 12.5px; 
}
   
label {
margin-left: 17px; 
}
  
#train-name-label {
margin-top: 10px; 
}

/* Styling for background */

body {
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
}
div {
	margin: 0 !important;
	padding: 0 !important;
}
.wrapper {
	height: 1080px;
	width: 1920px;
	margin: auto;
	background: #280744;
	overflow: hidden !important;
}
.background {
	height: 1080px;
	width: 1920px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSXhkaG1VaEhSTjA
);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
}

.rocks_1 {
	position: absolute;
	bottom: -5px;
	height: 315px;
	width: 1920px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QckJsSTBOSmdsYmc);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 100s infinite linear both;
}
.rocks_2 {
	position: absolute;
	bottom: -60px;
	height: 315px;
	width: 1920px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSC1sYnVUWUxKSGs);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 30s infinite linear both;
}
.rails {
	position: absolute;
	bottom: -110px;
	height: 315px;
	width: 1920px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QZmtCbjlIbjVwclk);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 5s infinite linear both;
}
.train {
	position: absolute;
	bottom: -105px;
	height: 315px;
	width: 1500px;
	right: 0px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QandQOVZSTjBETGs);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}
.ground {
  position: absolute;
  width: 1920px;
  height: 98px;
  bottom: 0px;
  background: #16012f;
}
.lights {
	position: absolute;
	bottom: -39px;
	height: 315px;
	width: 1920px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QNTJ1U2M1eFptSTA);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 4s infinite linear both;
}
.moon {
	position: absolute;
	top: 20%;
	height: 315px;
	left: 200px;
	width: 120px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QRTVYeVFoYVppeUU);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

@keyframes translateX {
	0% {background-position: 0px 0px;}
	100% {background-position:  1920px 0px;}
}
