body {
    background-image: url("../images/train.jpg");
}

#main-page {
    width: 100vw; 
    height: 100vh; 
    max-width: 100%; 
}

.card {
    width: 1000px; 
    margin: 0 auto; 
    float: none; 
    margin-top: 50px; 
    margin-bottom: 10px; 
    opacity: 0.9;
    border: solid black 2px; 
}

#current-schedule {
  height: 500px; 
}

td {
    padding-top: 10px; 
}

th {
    margin-left: 10px; 
}

#current-schedule-header {
    text-align: center; 
}

#add-train {
    height: 480px; 
}

#new-train {
  text-align: center; 
}
  
.form-control {
width: 975px; 
margin: 0 auto; 
float: none; 
}
  
.btn {
margin-left: 12.5px; 
}
   
label {
margin-left: 17px; 
}
  
#train-name-label {
margin-top: 10px; 
}
